<% for journal in journals %>
  <div id="change-<%= journal.id %>" class="journal has-details">
    <div id="note-<%= journal.indice %>">
      <h4><a href="#note-<%= journal.indice %>" class="journal-link">#<%= journal.indice %></a>
      <%= avatar(journal.user, :size => "24") %>
      <%= authoring journal.created_at, journal.user, :label => :label_updated_time_by %></h4>
      <% if journal.value_changes.any? %>
      <ul class="details">
        <% for value_change in journal.value_changes %>
          <%
            field_name = l("setting_#{value_change[0]}")
            field_name = l("label_theme") if value_change[0] == "ui_theme"
          %>
          <li>
            <%= sanitize l(".text_setting_journal_entry", field:  field_name,
                                                          old_value: value_change[1][0],
                                                          value: value_change[1][1]) %>
          </li>
        <% end %>
      </ul>
      <% end %>
    </div>
  </div>
<% end %>
