<% journals.each do |journal| %>
  <div id="change-<%= journal.id %>" class="journal has-details">
    <div id="note-<%= journal.indice %>">
    <h4><a href="#note-<%= journal.indice %>" class="journal-link">#<%= journal.indice %></a>
    <%= avatar(journal.user, :size => "24") %>
    <%= authoring journal.created_on, journal.user, :label => :label_updated_time_by %></h4>
    <% if journal.value_changes.any? %>
    <ul class="details">
      <% if journal.journalized_type == "Project" %>
        <li><%= project_update_text(journal) %></li>
      <% elsif journal.journalized_type == "Principal" %>
        <li><%= user_update_text(journal) %></li>
      <% elsif journal.journalized_type == 'Organization' %>
        <% if Redmine::Plugin.installed?(:redmine_organizations) %>
          <li><%= organization_update_text(journal) %></li>
        <% end %>
      <% elsif journal.journalized_type.present? && Object.const_get(journal.journalized_type).superclass.name == 'CustomField' %>
        <li><%= custom_field_update_text(journal) %></li>
      <% else %>
        <% journal.value_changes.each do |name, changes| %>
          <li><%= settings_update_text(name, changes) %></li>
        <% end %>
      <% end %>
    </ul>
    <% end %>
    </div>
  </div>
<% end %>
